tbody.pokemon-list > tr, .responsive-label {
  align-items: center;
}

.bookend {
  float: right;
}

.card.info {
  --card-back-color: #28a2ff; 
  --card-border-color: #3fb502;
}

main {
  margin-top: 5px;
}

table {
  max-height: 80% !important;
}

th {
  position: sticky;
}
