<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pogodex</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Logged in as {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Log out.</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Log in</a> | <a href="{{ url_for('auth_signup') }}">Sign up</a>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('pokemon_index') }}">List Pokémon</a></li>
      <li><a href="{{ url_for('pokemon_form') }}">Add a Pokémon</a></li>
    </ul>

    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
