{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login', next = next_page) }}">
  <fieldset>
    <legend>Log in</legend>
    {% for field in form %}
      <div class="row responsive-label">
        <div class="col-sm-12 col-md-2">
          {% if field.type != "SubmitField" %}
            {{ field.label }}
          {% endif %}
        </div>
        <div class="col-sm-12 col-md">{{ field }}</div>
      </div>
    {% endfor %}
  </fieldset>
</form>
{% endblock %}
