{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
  {% for field in form %}
  <tr>
    <td>{{ field.label }}</td>
    <td>{{ field }}</td>
    {% if field.errors %}
    <td>
      <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  <tr>
    <td colspan="2">
      <input type="submit" value="Log in"/>
    </td>
  </tr>
  </table>
</form>
{% endblock %}
