{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('pokemon_edit', pokemon_id = pokemon_id) }}">
  <fieldset>
    <legend>Edit a Pokémon</legend>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-2"><p>ID</p></div>
      <div class="col-sm-12 col-md"><p>{{ pokemon_id }}</p></div>
    </div>

    {% for field in form %}
      <div class="row responsive-label">
        <div class="col-sm-12 col-md-2">
          {% if field.type != "SubmitField" %}
            {{ field.label }}
          {% endif %}
        </div>
        <div class="col-sm-12 col-md">{{ field }}</div>
      </div>
    {% endfor %}
  </fieldset>
</form>
{% endblock %}
