{% extends "layout.html" %}

{% block body %}
  {% if not pokemon_list %}
    <p>No Pokémon in database</p>
  {% else %}
    <table class="striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gen</th>
            <th>Released</th>
            {% if current_user.admin %}
              <th></th>
              <th></th>
              <th></th>
            {% endif %}
          </tr>
        </thead>

        {% for pokemon in pokemon_list %}
        <tbody class="pokemon-list">
          <tr>
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.generation }}</td>
            <td>
              <mark class="{{ "tertiary" if pokemon.released else "secondary" }}">
                {{ "Yes" if pokemon.released else "No" }}
              </mark>
            </td>
            {% if current_user.admin %}
              <td>
                {% if pokemon.released %}
                  <button class="small button" disabled="disabled">Release</button>
                {% else %}
                  <a class="tertiary small button" href="{{ url_for('pokemon_release', pokemon_id = pokemon.id) }}">Release</a>
                {% endif %}
              </td>
              <td>
                <a class="secondary small button" onclick="this.textContent = 'Confirm'; setTimeout(() => { this.href = '{{ url_for('pokemon_delete', pokemon_id = pokemon.id) }}'; }, 1000);">Delete</a>
              </td>
              <td>
                <a class="primary small button" href="{{ url_for('pokemon_edit', pokemon_id = pokemon.id) }}">Edit</a>
              </td>
            {% endif %}
          </tr>
        </tbody>
        {% endfor %}
    </table>
  {% endif %}
{% endblock %}
