{% extends "layout.html" %}

{% block body %}
  <form method="POST" action="{{ url_for('pokemon_create') }}">
    <fieldset>
      <legend>Add a Pokémon</legend>

      <div>
      {% for field in form %}
        <div class="row responsive-label">
          <div class="col-sm-12 col-md-2">
            {% if field.type != "SubmitField" %} 
              {{ field.label }} 
            {% endif %}
          </div>
          <div class="col-sm-12 col-md">{{ field }}</div>
        </div>
      {% endfor %}
      <div>
    </fieldset>
  </form>
{% endblock %}
